@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, synthwave;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e2852e;
  --color-secondary: #f5c857;
}

* {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* E2852E */
/* F5C857 */
/* FFEE91 */
/* ABE0F0 */
